@charset "UTF-8";

*{
	font-family: NBG,sans-serif;
}

#loginform {
    width:1000px;
    height:500px;
    margin: 50px auto;
/*     border: 1px solid blue; */
    overflow: hidden;
    text-align: center;
}


#logintable {
    width:250px;
    margin: 50px auto;
    border: 0px solid blue;
/*     overflow: hidden; */
    text-align: left;
}

#fpw{
	margin-top:-92.5px;
	margin-left: 65px;
}

#loginbtn{
	margin-right: 20px;
}

#uinsertbtn{
	margin: 30px 0px 0px 150px;
}

#pwbtn{
	margin: 20px 0px 0px 90px;
}

#userinserttable {
    width: 500px;
    margin: 50px 310px;
    border: 0px solid blue;
    overflow: hidden;
    text-align: left;
}

#fpwtable {
    width:250px;
    margin: 50px auto;
    border: 0px solid blue;
    overflow: hidden;
    text-align: left;
}


#wishform {
    width:1000px;
    height:98%;
    margin: 50px auto;
/*     border: 1px solid blue; */
    overflow: hidden;
    text-align: center;
}





